<footer class="bottom-0 bg-white w-full mt-4 pt-4">
  <div class="mx-auto">

    <div class="mb-4 text-center">
      <p> Contenido del footer </p>
    </div>

    <div class="flex flex-row justify-center items-middle py-5 w-full bg-gray-400">
      <p class="mr-4"> © 2021 Copyright: </p>
      <a href="https://21ninjas.es/"> <%= image_tag "logo.png" %> </a>
    </div>

  </div>
</footer>