<% if x == nil  %>
  <p class="text-white">No existe el jugador</p>
<% elsif n == nil%>
  <img src="<%= x.photo %>" class="w-2/6">
<% else %>
  <% player = x.find_by(name: n) %>
  <% if player != nil%>
    <img src="<%= player.photo %>" class="w-2/6">
  <% end %>
<% end %>
