<% if x == nil  %>
  <p class="text-white">No existe el jugador</p>
<% elsif n == nil%>
  <img src="<%= x.photo %>" class="w-2/6">
<% else %>
  <img src="<%= x.find_by(name: n).photo %>" class="w-2/6">
<% end %>
