// Place all the styles related to the Noticias controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$greyColor: rgb(156, 163, 175);

.mainImage {
  width: 100%;
  height: auto;
}

.bg-team {
  background-image: image-url('plantilla.jpeg');
  //width: 1320px;
  height: 764px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  //background-size: cover;
  resize: both;
}

.bg-small-field {
  background-image: image-url('campo2.png');
  //width: 229px;
  //height: 665px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  resize: both;
}

.bgImg{
  background-color: $greyColor; /* For browsers that do not support gradients */
  background-image: radial-gradient(circle, $greyColor 10%, white 90%);
}

.noticeImg {
  width: 75%;
  height: auto;
  margin: auto;
}

//Style carousel
.carousel-open:checked+.carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.slide{
  height:500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  resize: both;
}


