//Jugadores pages style

.bg-field {
  background-image: image-url('campo.jpeg');
  width: 1000px;
  height: 665px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  resize: both;
}